.container {
    margin: 40px 0;
    border-radius: 30px;
    background-color: rgb(2, 2, 99);
    height: 800px;
    width: 600px;
}

.keyboard {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    height: 300px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 0;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border-style: solid;
    font-size: 24px;
    padding: 0px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: white;
}

.digits button {
    margin: 2px 2px;
    flex: 1 1 30%;
    background-color: white;
    color: black;
}

.operations {
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operations button {
    margin: 2px 0px;
    flex: 1 1 20%;
    background-color: goldenrod;
}

.display {
    display: flex;
    margin: 100px 10px;
}

.display p {
    flex: 1 1 80%;
    background-color: darkslategrey;
    padding: 30px 10px;
    font-size: 24px;
    color: black;
}

.display button {
    flex: 1 1 20%;
}

